## Task 1
Давай начнем с самого простого. В этом упражнении тебе необходимо получить отфильтрованные данные из таблицы 
в базе данных. Почему важно фильтровать данные именно в запросе, а не после этого в библиотеке Pandas?
Потому что таблицы могут иметь огромный размер. Если ты попыташься получить всю таблицу, то не сможешь ее "переварить" 
– у тебя может не хватить оперативной памяти. Всегда помни об этом.

Первый способ фильтрации — выбрать только те столбцы, которые тебе действительно нужны. 
Второй способ — выбрать только те строки, которые тебе действительно нужны.

Подробное описание задания:

1. Помести базу данных в подкаталог data в корневом каталоге, используемом в рамках этого проекта.

## 2. Создай соединение с базой данных с помощью библиотеки `sqlite3`.

In [ ]:
! pip install sqlite

In [28]:
import pandas as pd
import numpy as np
import sqlite3
from pandas import DataFrame

In [29]:
conn = sqlite3.connect("../data/checking-logs.sqlite")

## 3. Получи схему таблицы `pageviews` с помощью `pd.io.sql.read_sql` и запроса `PRAGMA table_info(pageviews);`.

In [30]:
pd.io.sql.read_sql("PRAGMA table_info(pageviews)", conn)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

## 4. Получи только первые `10` строк таблицы `pageviews`, чтобы проверить, как она выглядит.

In [31]:
pd.io.sql.read_sql("SELECT * from pageviews limit 10", conn)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

## 5. Получи подтаблицу с помощью только **одного** запроса, в котором:
    - используются только `uid` и `datetime`;
    - используются только данные пользователей (`user_*`), и не используются данные администраторов;
    - сортировка выполняется по `uid` в порядке возрастания;
    - столбец индекса — это `datetime`;
    - `datetime` преобразован в `DatetimeIndex`;
    - имя датафрейма — `pageviews`.

In [33]:
pageviews = pd.io.sql.read_sql(
    "SELECT datetime, uid FROM pageviews WHERE uid LIKE 'user_%' ORDER by uid",
    conn, index_col='datetime', parse_dates=['datetime'])
pageviews.head(5)

                               uid
datetime
2020-04-26 21:53:59.624136  user_1
2020-04-26 22:06:19.478143  user_1
2020-04-26 22:12:09.614497  user_1
2020-04-30 19:29:01.831635  user_1
2020-05-05 20:26:32.894852  user_1

## 6. Закрой соединение с базой данных.

In [34]:
conn.close()

In [35]:
pageviews.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 987 entries, 2020-04-26 21:53:59.624136 to 2020-05-21 16:36:40.915488
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   uid     987 non-null    object
dtypes: object(1)
memory usage: 15.4+ KB